<!doctype html>
<html>
<head>
    <script>
        function IcerigiYazdir() {
            document.write("bu içeriği yazdır");
        }

        function UyariVer() {
            alert("bu uyarıyı ekrana pooup olarak çıkart");
        }

        function ConsoleaMesajYazdir() {
            console.log("bu mesaj konsolda görüntülenir");
        }

        function IcerigiDomaYazdir() {
            document.getElementById("demo").innerHTML = "bu mesaj doma yazdırılıyor";
        }
    </script>


</head>

<body>
<script>IcerigiYazdir();</script>
    <hr/>
    <input type="button" value="uyarı kutusu çıkart" onclick="UyariVer();"/>
    <br/>
    <input type="button" value="console'a mesaj yazdır" onclick="ConsoleaMesajYazdir();" />
    <br/>
    <input type="button" value="Dom'a yazdır" onclick="IcerigiDomaYazdir();" />
    <div id="demo">bu içerik</div>

</body>
</html>